In [1]:
import pandas as pd
import nltk
from nltk.corpus import brown
from nltk import FreqDist
from nltk.corpus import stopwords
import numpy as np

In [2]:
kw = pd.read_csv("./Keyword Stats 2020-05-13 at 22_32_03 - Keyword Stats 2020-05-13 at 22_32_03.csv")

In [3]:
kw.head(10)

,Keyword,Currency,Avg. monthly searches,Min search volume,Max search volume,Competition,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Ad impression share,...,Searches: Dec 2019,Searches: Jan 2020,Searches: Feb 2020,Searches: Mar 2020,Searches: Apr 2020,Concept: Otros,Concept: Mueble,Concept: Otras Marcas,Concept:,Concept: Institución Financiera
0,ikea,EUR,N/D,1.000.000,10.000.000,Baja,2.0,"0,04","0,20",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ikea online,EUR,N/D,10,100,Media,47.0,"0,04","0,71",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ikea kallax,EUR,N/D,1,10,Baja,25.0,"0,04","0,20",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ikea family,EUR,N/D,10,100,Baja,4.0,"0,04","0,49",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ikea family,NaN,NaN
4,ikea besta,EUR,N/D,1,10,Media,40.0,"0,04","0,30",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,kallax ikea,EUR,N/D,10,100,Baja,31.0,"0,04","0,20",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ikea sofas,EUR,N/D,10,100,Alta,100.0,"0,04","0,12",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,sofa,NaN,NaN,NaN
7,ikea black friday,EUR,N/D,1,10,Baja,27.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,armarios ikea,EUR,N/D,100,1.000.000,Alta,100.0,"0,04","0,14",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,ikea trofast,EUR,N/D,1,10,Baja,3.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
kw.columns

Index(['Keyword', 'Currency', 'Avg. monthly searches', 'Min search volume',
       'Max search volume', 'Competition', 'Competition (indexed value)',
       'Top of page bid (low range)', 'Top of page bid (high range)',
       'Ad impression share', 'Organic impression share',
       'Organic average position', 'In account?', 'In plan?',
       'Searches: May 2019', 'Searches: Jun 2019', 'Searches: Jul 2019',
       'Searches: Aug 2019', 'Searches: Sep 2019', 'Searches: Oct 2019',
       'Searches: Nov 2019', 'Searches: Dec 2019', 'Searches: Jan 2020',
       'Searches: Feb 2020', 'Searches: Mar 2020', 'Searches: Apr 2020',
       'Concept: Otros', 'Concept: Mueble', 'Concept: Otras Marcas',
       'Concept:', 'Concept: Institución Financiera'],
      dtype='object')

In [5]:
kw.drop(kw.columns.difference(['Keyword','Max search volume','Competition (indexed value)','Top of page bid (low range)','Top of page bid (high range)']), 1, inplace=True)

In [6]:
kw.head(10)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range)
0,ikea,10.000.000,2.0,"0,04","0,20"
1,ikea online,100,47.0,"0,04","0,71"
2,ikea kallax,10,25.0,"0,04","0,20"
3,ikea family,100,4.0,"0,04","0,49"
4,ikea besta,10,40.0,"0,04","0,30"
5,kallax ikea,100,31.0,"0,04","0,20"
6,ikea sofas,100,100.0,"0,04","0,12"
7,ikea black friday,10,27.0,NaN,NaN
8,armarios ikea,1.000.000,100.0,"0,04","0,14"
9,ikea trofast,10,3.0,NaN,NaN

In [7]:
kw.shape

(1435, 5)

In [8]:
kw['Keyword'] = kw['Keyword'].apply(lambda tokenize: nltk.word_tokenize(tokenize))

In [9]:
kw.head(10)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range)
0,[ikea],10.000.000,2.0,"0,04","0,20"
1,"[ikea, online]",100,47.0,"0,04","0,71"
2,"[ikea, kallax]",10,25.0,"0,04","0,20"
3,"[ikea, family]",100,4.0,"0,04","0,49"
4,"[ikea, besta]",10,40.0,"0,04","0,30"
5,"[kallax, ikea]",100,31.0,"0,04","0,20"
6,"[ikea, sofas]",100,100.0,"0,04","0,12"
7,"[ikea, black, friday]",10,27.0,NaN,NaN
8,"[armarios, ikea]",1.000.000,100.0,"0,04","0,14"
9,"[ikea, trofast]",10,3.0,NaN,NaN

In [10]:
stop = stopwords.words('spanish')
kw['Keyword'] = kw['Keyword'].apply(lambda keyword: [word for word in keyword if word not in stop])

In [11]:
kw.head(10)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range)
0,[ikea],10.000.000,2.0,"0,04","0,20"
1,"[ikea, online]",100,47.0,"0,04","0,71"
2,"[ikea, kallax]",10,25.0,"0,04","0,20"
3,"[ikea, family]",100,4.0,"0,04","0,49"
4,"[ikea, besta]",10,40.0,"0,04","0,30"
5,"[kallax, ikea]",100,31.0,"0,04","0,20"
6,"[ikea, sofas]",100,100.0,"0,04","0,12"
7,"[ikea, black, friday]",10,27.0,NaN,NaN
8,"[armarios, ikea]",1.000.000,100.0,"0,04","0,14"
9,"[ikea, trofast]",10,3.0,NaN,NaN

In [12]:
freq = pd.Series(' '.join(" ".join(word) for word in kw['Keyword']).split(" ")).value_counts()[:10]
freq

ikea         1203
cama           27
mesas          24
sillas         20
muebles        20
camas          17
armarios       17
sofa           12
colchones       9
2019            9
dtype: int64

In [13]:
#fdist = FreqDist(kw.Keyword)
#fdist

In [14]:
kw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Keyword                       1435 non-null   object
 1   Max search volume             1435 non-null   object
 2   Competition (indexed value)   1420 non-null   float64
 3   Top of page bid (low range)   296 non-null    object
 4   Top of page bid (high range)  296 non-null    object
dtypes: float64(1), object(4)
memory usage: 56.2+ KB

In [15]:
kw['Keyword']=kw['Keyword'].apply(', '.join)

In [16]:
cat_1 = input()

ikea

In [17]:
cell_cat_1 = input()

Brand

In [18]:
kw['Cat_1']= np.where(kw['Keyword'].str.contains(cat_1,regex=True),cell_cat_1,'No Brand')

In [36]:
kw.head(500)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Cat_1
0,ikea,10.000.000,2.0,"0,04","0,20",Brand
1,"ikea, online",100,47.0,"0,04","0,71",Brand
2,"ikea, kallax",10,25.0,"0,04","0,20",Brand
3,"ikea, family",100,4.0,"0,04","0,49",Brand
4,"ikea, besta",10,40.0,"0,04","0,30",Brand
...,...,...,...,...,...,...
495,"frakta, ikea",100,1.0,NaN,NaN,Brand
496,"koppla, ikea",100,0.0,NaN,NaN,Brand
497,"istad, ikea",100,1.0,NaN,NaN,Brand
498,björksta,100,1.0,NaN,NaN,No Brand
499,"pello, ikea",1,50.0,NaN,NaN,Brand

In [46]:
cat = pd.read_csv("./keyword - Sheet1.csv")
cat.head(20)

     Keyword         Cat
0       sofa       SALÓN
1     sillon       SALÓN
2    armario  MOBILIARIO
3     cómoda  DORMITORIO
4       cama  DORMITORIO
5   almohada  DORMITORIO
6      silla  MOBILIARIO
7    sillita  MOBILIARIO
8    colchon  DORMITORIO
9       mesa  MOBILIARIO
10    cuadro  DECORACIÓN
11  taburete  MOBILIARIO
12     fejka     FAMILIA
13     besta     FAMILIA
14      ikea       Brand

In [41]:
results = pd.merge(kw,cat,on='Keyword',how='left')
results.head(500)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Cat_1,Cat
0,ikea,10.000.000,2.0,"0,04","0,20",Brand,NaN
1,"ikea, online",100,47.0,"0,04","0,71",Brand,NaN
2,"ikea, kallax",10,25.0,"0,04","0,20",Brand,NaN
3,"ikea, family",100,4.0,"0,04","0,49",Brand,NaN
4,"ikea, besta",10,40.0,"0,04","0,30",Brand,NaN
...,...,...,...,...,...,...,...
495,"frakta, ikea",100,1.0,NaN,NaN,Brand,NaN
496,"koppla, ikea",100,0.0,NaN,NaN,Brand,NaN
497,"istad, ikea",100,1.0,NaN,NaN,Brand,NaN
498,björksta,100,1.0,NaN,NaN,No Brand,NaN
499,"pello, ikea",1,50.0,NaN,NaN,Brand,NaN

In [40]:
results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1435 entries, 0 to 1434
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Keyword                       1435 non-null   object
 1   Max search volume             1435 non-null   object
 2   Competition (indexed value)   1420 non-null   float64
 3   Top of page bid (low range)   296 non-null    object
 4   Top of page bid (high range)  296 non-null    object
 5   Cat_1                         1435 non-null   object
 6   Cat                           1 non-null      object
dtypes: float64(1), object(6)
memory usage: 89.7+ KB

In [47]:
new_result= kw.assign(cat= kw['Keyword'].map(cat.set_index('Keyword')['Cat']))

In [49]:
new_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1435 entries, 0 to 1434
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Keyword                       1435 non-null   object
 1   Max search volume             1435 non-null   object
 2   Competition (indexed value)   1420 non-null   float64
 3   Top of page bid (low range)   296 non-null    object
 4   Top of page bid (high range)  296 non-null    object
 5   Cat_1                         1435 non-null   object
 6   cat                           7 non-null      object
dtypes: float64(1), object(6)
memory usage: 78.6+ KB

In [50]:
new_result.head(200)

,Keyword,Max search volume,Competition (indexed value),Top of page bid (low range),Top of page bid (high range),Cat_1,cat
0,ikea,10.000.000,2.0,"0,04","0,20",Brand,Brand
1,"ikea, online",100,47.0,"0,04","0,71",Brand,NaN
2,"ikea, kallax",10,25.0,"0,04","0,20",Brand,NaN
3,"ikea, family",100,4.0,"0,04","0,49",Brand,NaN
4,"ikea, besta",10,40.0,"0,04","0,30",Brand,NaN
...,...,...,...,...,...,...,...
195,"ekedalen, ikea",1,23.0,NaN,NaN,Brand,NaN
196,fejka,1,11.0,NaN,NaN,No Brand,FAMILIA
197,"ikea, lixhult",1,3.0,NaN,NaN,Brand,NaN
198,"norden, ikea",1,23.0,NaN,NaN,Brand,NaN
199,lixhult,1,9.0,"1,09","1,74",No Brand,NaN

In [65]:
kw['Cat_2']= np.where(kw['Keyword'].str.contains(cat['Keyword'],regex=True),cat['Cat'],'-')

TypeError: 'Series' objects are mutable, thus they cannot be hashed